.section {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    font-size: 60px;
  }
.message {
  font-size: 30px;
}

.button {
  margin-top: 20px;
  font-size: 30px;
}